html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  color: #231f20;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #231f20;
  font-weight: 500;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #231f20;
  font-weight: 500;
}

h4 {
  font-family: "Montserrat", sans-serif;
  color: #231f20;
  font-weight: 500;
}

h5 {
  font-family: "Montserrat", sans-serif;
  color: #231f20;
  font-weight: 500;
}

p {
  font-size: 16px;
  line-height: 1.8;
  color: #637988;
  font-family: "Crimson Text", serif;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  color: #231f20;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 60px 0;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 641px) {
  .container {
    max-width: 641px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000000;
  background: #FFF;
  padding: 20px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header .container .logo {
  max-width: 130px;
}
header .container .logo img {
  width: 100%;
}
header .container nav.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
header .container nav.nav ul li a {
  text-transform: uppercase;
  font-size: 13px;
  transition: 0.2s;
}
header .container nav.nav ul li a:hover {
  color: #00c7fc;
}
@media (max-width: 640px) {
  header .container nav.nav {
    display: none;
  }
}
header .container button.mobile-nav-btn {
  border: none;
  outline: none;
  background: transparent;
  font-size: 30px;
  display: none;
  cursor: pointer;
}
@media (max-width: 640px) {
  header .container button.mobile-nav-btn {
    display: block;
  }
}
header .container nav.mobile-nav {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  background: #FFF;
  z-index: 1000000;
  overflow: hidden;
  transition: 0.4s;
}
header .container nav.mobile-nav ul {
  width: 100%;
}
header .container nav.mobile-nav ul li:not(:last-of-type) a {
  border-bottom: 1px solid #00c7fc;
}
header .container nav.mobile-nav ul li a {
  padding: 20px 0;
  display: block;
  transition: 0.2s;
  width: 100%;
}
header .container nav.mobile-nav ul li a:hover {
  padding-left: 10px;
  color: #00c7fc;
}
@media (max-width: 640px) {
  header .container nav.mobile-nav {
    display: block;
  }
}

section.hero {
  padding: 130px 0;
  position: relative;
  background: url("../imgs/header.jpg");
  z-index: 1;
}
section.hero .overlay {
  background-color: rgba(0, 0, 0, 0.7490196078);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
section.hero .container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
}
section.hero .container h1, section.hero .container h5, section.hero .container a {
  color: #fff;
}
section.hero .container .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
section.hero .container .btns a {
  display: block;
  padding: 15px 30px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.2s;
}
section.hero .container .btns a.theme {
  background-color: #00c7fc;
  border-color: #00c7fc;
}
section.hero .container .btns a:hover {
  background-color: #fff;
  color: #231f20;
  border-color: #fff;
}
@media (max-width: 640px) {
  section.hero .container .btns {
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }
  section.hero .container .btns a {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
