@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

section.hero {
  padding: 130px 0;
  position: relative;
  background: url('../imgs/header.jpg');
  z-index: 1;
  .overlay {
    background-color: #000000bf;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    h1, h5, a {
      color: #fff;
    }
    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      a {
        display: block;
        padding: 15px 30px;
        border: 2px solid #fff;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 500;
        transition: .2s;
        &.theme {
          background-color: $secondaryColor;
          border-color: $secondaryColor;
        }
        &:hover {
          background-color: #fff;
          color: $primaryColor;
          border-color: #fff;
        }
      }
      @include sm {
        flex-direction: column;
        width: 100%;
        gap: 15px;
        a {
          width: 100%;
        }
      }
    }
  }
}

section.portfolio {
  .container {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      .box {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        &:hover {
          .info {
            transform: translateY(0);
          }
        }
        .info {
          transition: .2s;
          transform: translateY(100%);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background-color: $secondaryColor;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 20px;
          padding: 40px 20px;
          h3 {
            color: #fff;
          }
          p {
            color: #fff;
            font-size: 15px;
          }
          ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            li {
              a {
                color: #fff;
              }
            }
          }
        }
      }
      @include sm {
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 0;
        .box {
          overflow: visible;
          img {
            width: fit-content;
          }
        }
      }
      @include md {
        grid-auto-flow: column;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 0;
        .box {
          overflow: visible;
          img {
            width: fit-content;
          }
        }
      }
      @include lg {
        grid-auto-flow: row;
        overflow-x: hidden;
        overflow-y: visible;
        gap: 20px;
        .box {
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

section.services {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    .srv {
      text-align: center;
      background-color: #fff;
      padding: 30px;
      i {
        font-size: 40px;
        color: #000;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 20px;
          height: 2px;
          background-color: $secondaryColor;
        }
      }
      h3 {
        margin-bottom: 20px;
      }
      p {
        font-size: 15px;
        color: $tertairyColor;
        font-weight: 100;
      }
    }
  }
}